body {
  background-color: rgb(253, 251, 251);
  margin: 0%;
  margin-top: 0%;
  font-size: 110%;
}

header {
  position: fixed;
  background-color: rgb(243, 236, 227);
  width: 100%;
  text-align: center;
  margin-top: 0%;
}

#titulo {
  font-family: cursive;
  line-height: 50px;
}

img {
  margin-top: 150px;
  width: 200px;
  border-radius: 90%;
}

.lado-esquerdo {
  float: right;
  margin-right: 2%;
}

.lado-direito {
  margin-top: 0%;
}

section {
  padding-top: 120px;
  text-indent: 40px;
  margin-left: 40px;
  margin-right: 5%;
  text-align: justify;
}

#ultimo_paragrafo {
  margin-right: 20%;
}

.identacao_texto {
  width: 85%;
}

#listas {
  padding-top: 20px;
  margin-left: 10%;
}

ol , ul {
  display: inline-block;
  width: 40%;
  padding-bottom: 20px;
  vertical-align: text-top;
}

h2 , h3 {
  text-align: center;
  padding: 0;
  text-decoration-line: underline;
  margin: 10px;
}

a {
  padding: 0 20%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: larger;
}

 table {
  background-color: rgb(243, 236, 227);
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  width: 30%;
  margin-left: 35%;
}

th {
  border-bottom: 1px solid black;
}

footer {
  background-color: rgb(243, 236, 227);
  text-align: center;
  padding: 50px 0;
}
